@import "tailwindcss";
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roots-btn-color {
  background-color: #25653F;
}

.roots-btn-hover-color:hover {
  color: #91C372
}