@import "tailwindcss";

/* html {
  scroll-behavior: smooth;
} */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roots-btn-color {
  background-color: #25653F;
}

.text-input-color {
  background-color: #EEE8D6;
}

.roots-text-color {
  color: #25653F;
}


.roots-btn-hover-color:hover {
  color: #91C372
}


/* animations */

/* Fade-in animation */


/* Reusable class */

.fade-in-very-slow {
  animation: fadeIn 5s ease-in forwards;
}
.fade-in-slow {
  animation: fadeIn 3s ease-in forwards;
}

.fade-in-normal {
  animation: fadeIn 2s ease-in forwards;
}

.fade-in-fast {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-up {
  animation: fadeInUp 3s ease-out forwards;
}

.slideFromLeftVerySlow {
  animation: slideFromLeftToRight 3s ease-out forwards;
}

.slideFromLeftSlow {
  animation: slideFromLeftToRight 2s ease-out forwards;
}

.slideFromLeftNormal {
  animation: slideFromLeftToRight 1s ease-out forwards;
}

.slideFromLeftFast {
  animation: slideFromLeftToRight 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Keyframes for fade + slide up */
@keyframes fadeInUp {
  from {
    /* opacity: 0.5; */
    transform: translateY(20px); /* start slightly lower */
  }
  to {
    /* opacity: 1; */
    transform: translateY(0px);
  }
}



@keyframes slideFromLeftToRight {
  from {
    /* opacity: 0.5; */
    transform: translateX(500px); /* start slightly lower */
  }
  to {
    /* opacity: 1; */
    transform: translateY(0px);
  }
}

